__pycache__
poetry.lock
.DS_Store
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.deployml

data_local
working_Version
square_duckling 
data/us_house_Sales_data.csv

# MkDocs build output
site/
dist/

# Miscilaneous
vm-stack.yaml
mlflow.db
*.csv
*.house_data
--source_format=PARQUET

# Ignore .env file
.venv/
.env/