__pycache__
poetry.lock
.DS_Store
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.deployml
.pytest_cache/
.ruff_cache/

# MkDocs build output
site/
dist/

# Miscilaneous
vm-stack.yaml
config.yaml
mlflow.db
*.csv
*.house_data

# Ignore .env file
.venv/
.env
.env/
local/.env
local/mlflow-artifacts/