name: gcp-mlops-stack
provider:
  name: gcp
  project_id: mldeploy-468919
  region: us-west2

deployment:
  type: cloud_run

stack:
  - experiment_tracking:
      name: mlflow
      params:
        image: gcr.io/mldeploy-468919/mlflow:latest
        service_name: mlflow-server
        
  - artifact_tracking:
      name: mlflow
      params:
        image: gcr.io/mldeploy-468919/mlflow:latest
        
  - model_registry:
      name: mlflow
      params:
        image: gcr.io/mldeploy-468919/mlflow:latest
        backend_store_uri: sqlite
        
  - model_serving:
      name: fastapi
      params:
        image: gcr.io/mldeploy-468919/fastapi:latest
        service_name: fastapi-server
        
  - feature_store:
      name: feast
      params:
        image: gcr.io/mldeploy-468919/feast:latest
        service_name: feast-server
        backend_store_uri: sqlite
        offline_store: file

